.swiper-container {
	width: 100%;
	height: $carousel-height;
	background-color: $blue;

	.swiper-slide {
		position: relative;
		background: $orange-light;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		h2 { margin-left: 1.8rem; }

		.services-hint {
			.view-more {
				position: absolute;
				bottom: 1rem;
				right: 1rem;
			}
		}

		.subservices {
			@extend .right;
			@extend .orange;
			@include alpha-bg(0.50);
			padding: 1rem 2rem;
		}
	}
}

@media screen and (min-width: $desktop) {
	.services-hint {
		margin: 1rem 2rem;
		padding: 1rem 2rem;
	}
}

@media screen and (max-width: $desktop) {
	.swiper-container { height: $carousel-height + 100px; }
	.services-hint {
		margin: 0 !important;
		padding: 0.5rem !important;
	}
}
