.contact-form {
	flex: 1 0 auto;
	order: 2;

	display: flex;
	flex-wrap: wrap;

	div {
		flex: 1 1 auto;
	}

	.field {
		max-width: 90%;
	}
	.errors, .actions { width: 100%; max-width: 99%; }

	label { font-weight: bold; }
	input, textarea, input[type=submit], button {
		margin: 1rem 0;
		width: 100%;
		border: 0;
		outline: 0;
		padding: 1rem 0.2rem 1rem 0.5rem;
		border-radius: 6px;
	}

	textarea { width: 95%; min-height: 5rem; }

	input[type=submit], button[type=submit] {
		color: white;
		background-color: $purple;
		font-weight: 600;

		&[disabled] {
			cursor: not-allowed;
			background-color: $pink-light;
		}
	}
}

@media screen and (min-width: $desktop) {
	.contact-form {
		.actions { max-width: 97%; }
	}
}
@media screen and (max-width: $mobile) {
	.contact-form {
		textarea { width: 90%; }
		.actions { max-width: 95%; }
	}
}
