body > footer {
	display: flex;
	flex-direction: row;
	padding: 2rem;
	background: linear-gradient(180deg, darken($pink, 5%), $pink);
	color: white;

	h2, h3 {
		color: white;
		margin: 0;
	}

	header {
		p { margin: 0; }
		margin-bottom: 2rem;
	}

	a { color: $blue-light; }
	address { font-style: normal; }

	ul:not(.error-list) {
		list-style-type: none;
		padding-left: 0;
		li {
			padding: 0.2rem 0;
		}
	}

	#contact-form, #contact-info {
		flex: 1 1 auto;
	}

	#contact-form { order: 2; }
	#contact-info { order: 1; }
}

@media screen and (max-width: $desktop) {
	body > footer {
		flex-direction: column;

		#contact-form { order: 1; width: 100%; }
		#contact-info { order: 2; width: 100%; }
	}
}
