/* Images */
img {
	max-width: 90%;
	max-height: 90%;
}

figure {
	//border: 1px solid $blue-light;
	border-radius: 6px;

	figcaption {
		padding: 0.2rem 0.6rem;
		//background-color: $blue-light;
		border-radius: 0 0 6px 6px;
	}
}

.single-page {
	img {
		max-width: 88%;
		max-height: 450px;
	}

	figure {
		margin-top: 2rem;
		text-align: center;

		figcaption {
			text-align: justify;
		}
	}
}


/* desktop */
@media screen and (min-width: $desktop) {

	figure {
		max-width: $desktop*0.90;
		margin-left: $desktop*0.45;
	}

}

/* mobile */
@media screen and (max-width: $mobile) {

	figure {
		margin: 0.5rem 0;
	}

}
