.nav-menu {
	list-style: none;

	.nav-toggle { display: none; }

	a {
		color: white;
		&:visited { color: white; }
	}

	li {
		@extend .left, .btn, .pink;
		font-weight: bold;

		&:not(:last-child) { margin-right: 1rem; }

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* desktop */
@media screen and (min-width: $desktop) {
}

/* mobile */
@media screen and (max-width: $mobile) {
	.nav-menu {
		height: 2rem;

		.nav-toggle {
			display: block;
			float: right;
		}

		ul {
			clear: both;
			display: none;
		}

		&:hover {
			.nav-toggle {
				margin-right: 0.5rem;
			}
			ul {
				display: block;
				z-index: 2;
				@include alpha-bg(0.40);
			}
		}
	}
}
