$collapsible-border-width: 1px;

#servicios {
	.service {
		margin: 6px auto 0;
		padding: 0 0 0 1rem;
		@extend %clearfix;

		h3 { margin-bottom: 0; }
		.collapse.active {
			border-top: $collapsible-border-width solid $blue-light;
		}

		p {
			font-size: 1.2rem;
			word-spacing: 0.2rem;
			padding-right: 0.8rem;
		}

		figure {
			float: right;
			text-align: center;
			img {
				max-height: 180px;
			}
		}
	}
}

.single-page {
	p { font-size: large; }
}

// desktop
@media screen and (min-width: $desktop) {
	#servicios {
		figure { max-width: 45%; }

		.service.half { max-width: 45%; }
	}
}
