body > nav {
	background: linear-gradient(180deg, $blue-light, $blue);
	visibility: hidden;
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: $logo-icon-max-height + 10px;
	left: 0;
	top: 0;
	z-index: 10;

	/* Translate -100% to move off screen */
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);

	/* Animations */
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

	img {
		max-height: $logo-icon-max-height;
		margin-top: 5px;
		margin-left: 1rem;
	}

	&.sticky {
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(0%);
		visibility: visible;

		.right {
			float: right !important;
		}
	}
}
