/************** imports **************/
@import 'variables';
@import 'swiper',
	'houdini',
	'sticky-nav',
	'services',
	'images',
	'nav',
	'footer',
	'contact-form',
	'carousel';

/************** color classes **************/

.blue { color: $blue; }
.purple { color: $purple; }
.pink { color: $pink; }
.orange { color: $orange; }
.white { color: $white; }
.alpha-bg { @include alpha-bg(0.50); line-height: 2em; }
.bg-blue { background-color: $blue; }
.bg-purple { background-color: $purple; }
.bg-pink { background-color: $pink; }
.bg-orange { background-color: darken($orange, 15%); }

/************** 'functionality' styles **************/

.hidden { display: none; }
.clearfix { @extend %clearfix; }
.fill { width: 100%; height: 100%; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.small { font-size: small; }
.x-small { font-size: x-small; }
.xx-small { font-size: xx-small; }
.large { font-size: large; }
.x-large { font-size: x-large; }
.xx-large { font-size: xx-large; }
.row { @extend %clearfix; width: 100%; clear: both; padding: 1.5rem 0; }

.container {
	max-width: 80%;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 8px 16px;
	margin: 4px;
	border-radius: 6px;

	&.pink {
		background-color: $pink;
		color: white !important;
	}
}

.collapse-toggle {
	color: inherit;
	text-decoration: none;
	margin: 1rem 0;
	padding: 1rem 1rem 1rem 0;

	> .fa { @extend .right; }
}

/************** global styles **************/

h1, h2, h3, h4, h5, h6 {
	color: $blue;
	margin: 1rem 0;
	padding: 1rem 0;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	line-height: 2em;
	text-shadow: 3px 4px 2px $h-shadow-color;
}
h2 { font-size: 1.8rem; line-height: 2em; }
h3 { font-size: 1.6rem; line-height: 2em; }

.bg-blue {
	h1, h2, h3, h4 {
		color: $white;
	}
	a, a:visited { color: $orange; }
}
.bg-orange {
	h1, h2, h3, h4 {
		color: $white;
	}
	a, a:visited { color: #333; }
}

a.btn {
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
}

body {
	font: normal #{$font-size}/#{$line-height} $font-family;
	color: black;
	margin: 0 auto;

	> header {
		padding: 1rem 2rem;
		background: linear-gradient(180deg, $blue-light, $blue);

		img { max-height: $logo-mark-max-height; }

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			height: $logo-mark-max-height;

			p { margin: 0; }
		}
	}

	main {
		> header {
			h1 {
				line-height: 2rem;
				margin-bottom: 0;
			}
			margin: 1rem auto 2rem !important;
		}
	}
}

/* desktop */
@media screen and (min-width: $desktop) {
	.hide-on-mobile { display: initial; }
}

/* desktop, tablet & laptop */
@media screen and (min-width: $mobile) {
	.half { width: 48%; }
}

/* tablet & laptop */
@media screen and (max-width: $desktop) {
	.hide-on-mobile { display: none; }
}

/* mobile */
@media screen and (max-width: $mobile) {
	.half { width: 95%; }
	.left, .right { float: none; }
	body > nav.sticky {
		a.btn {
			.text { display: none; }
		}
	}
}
