$blue: #62a2bd;
$purple: #6d4685;
$pink: #dc5688;
$orange: #febb50;
$blue-light: #a7cacb;
$purple-light: #b6a3c2;
$pink-light: #eeabc4;
$orange-light: #fff7ba;
$white: #eeeeee;

$font-family: 'Lato', sans-serif;
$font-size: 16px;
$line-height: 20px;

$h-shadow-color: #ddd;

// increase the height on mobile?
$carousel-height: 500px; 
$desktop: 600px;
$mobile: 480px;

$logo-mark-max-height: 150px;
$logo-icon-max-height: 60px;

/************** mixins **************/

@mixin alpha-bg($alpha: 0.25, $pad: 0.5rem) {
	padding: $pad;
	background-color: rgba(0, 0, 0, $alpha);
}

%clearfix {

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}
