{{ partial "head.html" . }}

{{ partial "header/nav.html" . }}

<section class="container single-page">
    <article class="clearfix">
        <header>
            <h1>{{ .Title }}</h1>
        </header>

        {{ .Content }}

        <!-- TODO: add footer with post tags -->
    </article>

    {{ if ne .Params.toc false }}
    <aside>
        {{ .TableOfContents }}
    </aside>
    {{ end }}
</section>

{{ partial "footer.html" . }}

{{ partial "document_footer.html" . }}
