<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <i class="fa fa-map-marker fa-lg"></i>
    <span itemprop="streetAddress">Martín Carrera</span>
    #<span itemprop="postOfficeBoxNumber">605</span>,
    Col. Hidalgo,
    C.P. <span itemprop="postalCode">64290</span>,
    <span itemprop="addressLocality">Monterrey</span>,
    <span itemprop="addressRegion">Nuevo León</span>,
    <span itemprop="addressCountry">México</span>
</address>
