<section class="swiper-container">
    <div class="swiper-wrapper">
        {{ range $category, $attrs := .Site.Data.carousel }}
        <article
            class="{{ $category }} swiper-slide"
            style="background-image: url('/images/{{ $category }}.png');"
        >
            <h2><span class="alpha-bg">{{ $attrs.name }}</span></h2>

            <figure hidden class="hidden">
                <img
                    src="/images/{{ $category }}.png"
                    alt="Imagen de {{ $attrs.name }}"
                >
                <figcaption>Nuestros servicios incluyen {{ $attrs.name }}</figcaption>
            </figure>

            <div class="services-hint half right text-right">
                {{ $itms := $attrs.descriptors }}
                {{ range $el := $itms }}
                {{ $el | safeHTML }}
                {{ end }}
            </div>
        </article>
        {{ end }}
    </div>

    <div class="swiper-pagination"></div>
</section>
