<section id="servicios">
    <h2 hidden class="hidden">Servicios</h2>

    <div class="row bg-blue white" style="margin-top: -1rem;">
        <article id="servicio-impresion" class="service half left">
            <h3>Impresión</h3>

            <p>
                Atendemos todo tipo de necesidad que puedas tener con tus
                impresoras y/o <strong>cartuchos toner</strong>, siendo la mejor
                opción para impresoras láser e inyección de tinta. Podemos
                brindarte cartuchos originales, compatibles y remanufacturados
                <b>¡Te ayudamos a reciclar tus cartuchos viejos!</b>
            </p>

            <a
                href="{{ relref . "impresion.md" }}"
                class="btn pink view-more"
            >Ver más</a>
        </article>

        <article id="servicio-soporte" class="service half right">
            <h3>Soporte técnico</h3>

            <p>
                Para garantizar el funcionamiento de tu equipo puedes obtener
                mantenimiento <strong>correctivo y preventivo</strong> de manera
                física o remota, ¡y te asesoramos a coordinar el proceso necesario
                para llevarlos a cabo!
            </p>

            <a
                href="{{ relref . "soporte-tecnico.md" }}"
                class="btn pink view-more"
            >Ver más</a>
        </article>
    </div>

    <article id="servicio-redes" class="service">
        <h3>Redes, servidores y hardware</h3>

        <figure>
            <img
                alt="Equipo de Fortinet &reg;."
                src="/images/fortinet.png"
            >
            <figcaption>
                Trato directo con proveedores para ofrecerte la mejor
                tecnología.
            </figcaption>
        </figure>

        <p>
            Brindamos asesoría para todos los componentes necesarios como
            cableado UTP, fibra óptica, Access Points, etc. para armar una
            infraestructura completa. Nuestro trato directo con los proveedores
            nos permite ofrecerte el mejor servicio desde la obtención del
            equipo hasta el licenciamiento y soporte.
        </p>

        <a
            href="{{ relref . "redes-servidores-hardware.md" }}"
            class="btn pink view-more"
        >Ver más</a>
    </article>

    <div class="row bg-orange white">
        <article id="servicio-ventas" class="service half left">
            <h3>Equipo y software de punto de venta</h3>

            <p>
                Te ofrecemos paquetes completos de <strong>punto de venta</strong>
                que incluye computadora, monitor táctil, impresora de ticket,
                lectores de tarjetas o códigos de barras, etc. o los componentes
                por separado si así lo prefieres, cuéntanos tu necesidad y te
                cotizamos una actualización a tu equipo o atractivas alternativas
                en las que somos expertos.
            </p>

            <a
                href="{{ relref . "equipo-software-punto-de-venta.md" }}"
                class="btn pink view-more"
            >Ver más</a>
        </article>

        <article id="servicio-software" class="service half right">
            <h3>Software y accesorios</h3>

            <p>
                Diseñamos equipo con el software necesario para el día a
                día de toda empresa, desde
                <strong>software de diseño hasta laptops empresariales</strong>
                con capacidad de cargas pesadas, tarjetas de
                vídeo para computadoras gaming y que manejan producción de
                vídeo profesional.
            </p>

            <a
                href="{{ relref . "software-accesorios.md" }}"
                class="btn pink view-more"
            >Ver más</a>
        </article>
    </div>
</section>
