<form
    class="contact-form"
    name="contacto"
    method="POST"
    action="https://formspree.io/{{ .Site.Params.contactemail }}"
>
    <input type="hidden" name="_next" value="{{ .Site.BaseURL }}">
    <input type="hidden" name="_subject" value="Contacto | Si Toner">

    <div class="half">
        <div class="field">
            <label for="nombre">* Nombre</label>
            <br>
            <input
                name="nombre"
                id="nombre"
                placeholder="Nombre"
                required
            >
        </div>

        <div class="field">
            <label for="compania">Compañía</label>
            <br>
            <input
                name="compania"
                id="compania"
                placeholder="Compañia"
            >
        </div>
    </div>

    <div class="half">
        <div class="field">
            <label for="telefono">* Teléfono</label>
            <br>
            <input
                name="telefono"
                id="telefono"
                placeholder="Teléfono"
                type="tel"
                required
            >
        </div>
        <div class="field">
            <label for="email">Email</label>
            <br>
            <input
                name="_replyto"
                id="email"
                placeholder="Email"
                type="email"
            >
        </div>
    </div>

    <div class="mensaje">
        <label for="mensaje">Tu necesidad</label>
        <textarea
            name="mensaje"
            id="mensaje"
            placeholder="He buscado este equipo por todas partes pero nadie me lo consigue"
            maxlen="500"
        ></textarea>
    </div>

    <div class="errors hidden">
        <b>Errores</b>
        <ul class="error-list">
            <li>Error 1</li>
        </ul>
    </div>

    <div class="actions">
        <input type="submit" value="Enviar">
    </div>
</form>
