<footer>
    <section id="contact-form">
        <header id="contacto">
            <h2>Contacto</h2>
            <p>
                Escríbenos tu necesidad y nosotros te contactamos de
                inmediato
            </p>
        </header>

        {{ partial "contact.html" . }}
    </section>

    <section itemscope itemtype="http://schema.org/LocalBusiness" id="contact-info">
        <h2 hidden class="hidden"><span itemprop="name">SI Toner</span></h2>
        <img itemprop="image" src="/images/logo-mark.png" alt="SI Toner">

        <ul>
            <li>
                <a
                    itemprop="email"
                    href="mailto:{{ .Site.Params.contactemail }}"
                >
                    <i class="fa fa-envelope"></i>
                    {{ .Site.Params.contactemail }}
                </a>
            </li>
            {{ range $k, $v := .Site.Params.phones }}
            <li>
                <a
                    itemprop="telephone"
                    content="{{ $k }}"
                    href="tel:{{ $k }}"
                >
                    &nbsp;<i class="fa fa-mobile fa-lg"></i>&nbsp;
                    {{ $v }}
                </a>
            </li>
            {{ end }}
            <li>{{ partial "address.html" . }}</li>
        </ul>

        <h3>¡Entrega a domicilio!</h3>

        <p>Contamos con <strong>servicio a domicilio en el área
            metropolitana de Monterrey</strong> y paquetería por FedEx al
            resto de la República Mexicana.
            <i class="fa fa-truck fa-flip-horizontal"></i>
        </p>

        <ul>
            <li>
                <a href="{{ relref . "terminos-y-condiciones.md" }}">
                    Términos y Condiciones
                </a>
            </li>
        </ul>
    </section>
</footer>
