<!DOCTYPE html>
<html lang="es_MX">
<head>

    {{ partial "meta.html" . }}

    <title>{{ .Title }} : {{ .Site.Title }}</title>

    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

    {{ partial "head_includes.html" . }}
</head>

<body>
