{{ partial "head.html" . }}

{{ partial "header/no-nav.html" . }}

<main>
<!--
    <header class="container">
        <h1>{{ .Title }}</h1>
        <p class="text-right">{{ .Site.Params.subtitle }}</p>
    </header>
-->

    {{ partial "carousel.html" . }}

    {{ partial "collapsibles.html" . }}

<!--
    <section id="clientes" class="container">
        <h2>Banner de clientes (?)</h2>
        <p>Imagenes</p>
    </section>
-->
</main>

{{ partial "footer.html" . }}
{{ partial "document_footer.html" . }}
