<header>
    <a class="logo" href="/">
        <img src="/images/logo-mark.png" alt="SI Toner">
    </a>

    <div class="right nav-menu">
        <a href="#" class="nav-toggle">
            <i class="fa fa-bars"></i>
        </a>

        <ul>
            <li>
                <a href="{{ relref . "impresion.md" }}">Impresión</a>
            </li>
            <li>
                <a href="{{ relref . "soporte-tecnico.md" }}">
                    Soporte Técnico
                </a>
            </li>
            <li>
                <a href="{{ relref . "redes-servidores-hardware.md" }}">
                    Hardware
                </a>
            </li>
            <li>
                <a href="{{ relref . "equipo-software-punto-de-venta.md" }}">
                    Punto de Venta
                </a>
            </li>
            <li>
                <a href="{{ relref . "software-accesorios.md" }}">
                    Software
                </a>
            </li>
        </ul>
    </div>
</header>

<nav>
    <a class="nav-logo" href="/">
        <img src="/images/logo-icon.png" alt="SI Toner">
    </a>

    <p class="right">
        <a class="btn pink" href="tel:8122350918">
            <i class="fa fa-phone"></i>
            <span class="text">Llámanos</span>
        </a>
        <a class="btn pink" href="#contacto">
            <i class="fa fa-envelope"></i>
            <span class="text">Contacto</span>
        </a>
    </p>
</nav>
