<header>
    <a class="logo" href="/">
        <img src="/images/logo-mark.png" alt="SI Toner">
    </a>

    <div class="right hide-on-mobile">
        <p>
            <a class="btn pink" href="tel:8122350918">Llámanos</a>
            <a class="btn pink" href="#contacto">Contacto</a>
        </p>
    </div>
</header>

<nav>
    <a class="nav-logo" href="/">
        <img src="/images/logo-icon.png" alt="SI Toner">
    </a>

    <p class="right">
        <a class="btn pink" href="tel:8122350918">
            <i class="fa fa-phone"></i>
            <span class="text">Llámanos</span>
        </a>
        <a class="btn pink" href="#contacto">
            <i class="fa fa-envelope"></i>
            <span class="text">Contacto</span>
        </a>
    </p>
</nav>
